name: Test

on:
    push:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                version: [20, 22, 24, 25]
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.version }}
            - run: npm ci
            - run: npm test
              env:
                  IPINFO_TOKEN: ${{ secrets.IPINFO_TOKEN }}
            - run: npm run build
            - run: cd test-app && npm install && node index.js
              env:
                  IPINFO_TOKEN: ${{ secrets.IPINFO_TOKEN }}
